# FINAL requirements for the correct, stable build
streamlit
numpy==1.26.4
spacy==3.7.4

# Library for Google News
feedparser

newsapi-python
newspaper3k
openai
lxml_html_clean
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
